<%= form_for @song do |f| %>
<label>  <%= f.text_field :name %> </label>
<label> <%= f.text_field :artist_id %> </label>
<label> <%= f.text_field :genre_id %> </label>
<ul><%= f.submit "Update Song" %>
<% end %>