<h1>Edit Song</h1>
<br>
<%= form_for @song do |f| %>
    Name: <%= f.text_field :name %>
    Artist: <%= f.collection_select :Artist_id, Artist.all, :id, :name %>
    Genre: <%= f.collection_select :Genre_id, Genre.all, :id, :name %>
    <%= f.submit %>
    <% end %>
