<h1><%=@song.name%></h1>
<p>Artist: <%= link_to @artist.name, artist_path(@artist) %><p>
<p>Genre: <%= link_to @genre.name, genre_path(@genre) %><p>
<p><%= link_to "All Songs", songs_path %><p>
<%= button_to "Delete", song_path(@song), method: "delete" %>
